# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências
node_modules

# Arquivos de sistema
.DS_Store

# Build
dist
dist-ssr

# Coverage
coverage

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Arquivos locais
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# ESLint
.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

# Playwright
test-results/
playwright-report/